<div>
  <img class="banner-bosch" src="../assets/img/banner-bosch.jpg">
</div>
<div class="header-bosch">
  <div class="header-bosch-title">
    <a routerLink="home" ><img src="../assets/img/icon.png" width="45px"></a>
    <a routerLink="home" ><h2 class="header-bosch-title-title">Apontamento Refugo</h2></a>
  </div>
  <div class="header-div-bosch-img">
    <img class="header-bosch-img" style="width: 130px" src="../assets\img\logo-bosch.png">
  </div>
</div>
<main>
  <router-outlet></router-outlet>
</main>
