.main-content{
  background-color: #f2f2f2;
  padding:50px;
  width: 1000px;
  margin: 0 auto;
  margin-top: 70px;
  border: 2px solid transparent;
  border-radius: 10px;
}

.main-content-div{
  margin: 0 auto;
  width: 500px;
}

.main-content-button{
  background-color: rgb(231, 229, 229);
  padding: 30px;
  text-align: center;
  font-size: 1.2em;
  width: 500px;
  border: 2px solid transparent;
  border-radius: 10px;
}

.main-content-button:hover{
  background-color: rgb(224, 223, 223);
  transform: translate3d(0, -1px, 0);
}

